
		
/*#logo{

}*/

body{
    background-color: #f0b2db;
}


#total-orders{
    background-color: #636e3b;
}


#orders-delivered{
    background-color: #08eb54;
}

#orders-pending{
    background-color: #ca3d12;
}




	